
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
		<a class="navbar-brand mr-1" href="/"><img src="/images/blue.png" alt="" width="32" height="32" /> &nbsp; Car pooling</a>
		<!-- Navbar Search -->
</nav>