
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
		<a class="navbar-brand mr-1" href="../dashboard"><img src="/images/blue.png" alt="" width="32" height="32" /> &nbsp; CAR POOLING WEBSITE</a>
		<!-- Navbar Search -->
		<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/search" >
		</form>
	
		<!-- Navbar -->
		<% if(isLoggedin) { %>
			<input type=button class="btn btn-primary" onClick="location.href='../auth/logout'" value='Log out'>
		<% } %>
	</nav>